.voiceModel {
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.voiceSearch {
  height: 300px;
  max-width: 100%;
}

.micoIcon {
  position: relative;
  height: 60px;
  width: 60px;
  font-size: 2.5rem;
  border-radius: 50%;
  z-index: 1;
}

.micoIcon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: animateicon 1s forwards infinite;
  z-index: 0;
  border-radius: 50%;
}

@keyframes animateicon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}

.formVoiceInput {
  height: 50px;
  margin-top: 50px;
  color: black !important;
}

.iraiAligalText {
  font-family: initial;
}

.i,
.a {
  color: #ef5a6f;
  font-size: 60px !important;
  font-weight: 900;
  word-spacing: 10px !important;
  letter-spacing: 2px;
}
